body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.browse-products-container {
  display: flex;
}

.all-products-container {
  padding: 30px;
  flex: 4;
}

.browse-sidebar {
  flex: 1;
}

.logo {
  margin-top: 14px;
  margin-left: 5px;
  height: 80px;
  width: auto;
}

.nav-menu {
  margin-top: 0 !important;
}

#order-info-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#order-info-form .component {
  display: flex;
}

#order-info-form .section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

