body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.browse-products-container {
  display: flex;
}

.all-products-container {
  padding: 30px;
  flex: 4;
}

.browse-sidebar {
  flex: 1;
}
